.Rproj.user
.Rhistory
.RData
.Ruserdata
*.pdf
*.png
*.jpg
*.gif
*.svg
*.html
*.tiff
Figures/
R/*.md
R/Figs/
Archive/
00_raw_seqs/
01_filtered_seqs/
tax/
myEnvironment.RData
doc/presentation/
data/protocols/
data/excel/
junk/
manuscript/.~lock.manuscript.docx#
*.docx
*.docx#
manuscript/presentation
analysis/test/
