.Rproj.user
.Rhistory
.RData
.Ruserdata
*.pdf
*.png
*.jpg
*.gif
*.svg
*.html
Permits/
Figures/
R/*.md
R/Figs/
Archive/
00_raw_seqs/
01_filtered_seqs/
tax/
myEnvironment.RData
Presentation/
Protocols/
Excel/
junk/
